[barman]
barman_home = {{ barman_home }}
barman_user = {{ barman_user }}

configuration_files_directory = {{ barman_config_dir }}

log_file = {{ barman_log_file }}

log_level = {{ barman_log_level }} 

compression = {{ barman_compression }}

retention_policy = {{ barman_retention_policy }}

network_compression = {{ barman_network_compression }}

immediate_checkpoint = {{ barman_immediate_checkpoint }}

basebackup_retry_times = {{ barman_basebackup_retry_times }}
basebackup_retry_sleep = {{ barman_basebackup_retry_sleep }}

