{{ postgresql_admin_user }} ALL = NOPASSWD: /usr/bin/systemctl stop postgresql-{{ postgresql_version }}, \
        /usr/bin/systemctl start postgresql-{{ postgresql_version }}, \
        /usr/bin/systemctl restart postgresql-{{ postgresql_version }}, \
        /usr/bin/systemctl reload postgresql-{{ postgresql_version }}, \
        /usr/bin/systemctl stop pgpool, \
        /usr/bin/systemctl start pgpool, \
        /usr/bin/su - {{ barman_user }}
