*:{{ repmgr_postgresql_port }}:*:{{ postgresql_admin_user }}:{{ postgres_pass }}
*:{{ repmgr_postgresql_port }}:*:{{ repmgr_user }}:{{ repmgr_pass }}
*:{{ pgpool_postgresql_port }}:*:{{ pgpool_user }}:{{ pgpool_pass }}
